cffi==1.9.1
cryptography==1.7.1
cvxopt==1.1.9
IbPy2==0.8.0
idna==2.2
inflection==0.3.1
more-itertools==2.5.0
ndg-httpsclient==0.4.2
numpy==1.11.3
pandas==0.19.2
pandas-datareader==0.2.1
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==16.2.0
python-dateutil==2.6.0
pytz==2016.10
Quandl==3.0.1
requests==2.12.4
requests-file==1.4.1
scipy==0.18.1
simplejson==3.10.0
six==1.10.0
yahoo-finance==1.4.0
